* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
h1,
h6 {
  text-align: center;
}
.container {
  width: 900px;
  margin: 1rem;
  padding: 1rem;
  background-color: black;
  color: white;
}
.display {
  background-color: lightgrey;
  width: 850px;
  color: black;
}
.tasti {
  width: 850px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 8px;
}
button {
  width: 30px;
  margin: 0.5px;
}
